.line_large{
    width: 100%; height: 6px;
    background: url(../images/line_large.png) no-repeat center / cover;
}

.link_btn a{
    display: block;
    width: 100px; height: 100px; line-height: 100px; text-align: center; 
    background: #1E1E1E; border-radius: 50px;
    color: #F6F6F6;

    position: fixed;
    top: calc( ( 100vh - 140px ) );
    right: 40px;
}


.work_wrap{
    width: 100%; margin: 0 auto; padding: 0 48px; box-sizing: border-box;
    display: flex; flex-wrap: wrap; flex-direction: column; 
    margin-top: 60px;
}

.home{
    width: 40px; height: 40px;
    margin-bottom: 20px;
}

.text_wrap{
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 20px;
    padding: 40px 0; box-sizing: border-box;

}

.title_wrap{
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 8px;
}

.text_wrap  .contents_article_large{line-height: 150%;}


.img{
    width: 100%;
}