*{
    margin: 0; padding: 0; vertical-align: top;
}
li{list-style: none;}
a{text-decoration: none;}
input{border: 0; background: none;}
img{max-width: 100%; border: 0;}
body{
    font-family: 'SUIT', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    background: #F6F6F6;
    color: #1E1E1E;
}