
@media screen and ( max-width: 1440px ) {

}

@media screen and ( max-width: 1280px ) {

}

@media screen and ( max-width: 1024px ) {
    header .gnb ul li a{width: 160px; height: 60px; line-height: 60px;}
}

@media screen and ( max-width: 768px ) {
    header .gnb ul li a{width: 120px; height: 60px; line-height: 60px;}
}

@media screen and ( max-width: 600px ) {

}

@media screen and ( max-width: 480px ) {
    header .gnb ul li a{width: 80px; height: 60px; line-height: 60px;}
}